<div class="grid-container">
  <h1 class="dashboard-title mt-5">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile  [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class="text-gray-900">
           <strong>Funds Available</strong>
            <button mat-raised-button color="primary" class="more-button emphasize-btn mat-elevation-z3">
              <mat-icon class="text-gray-900 icon-card">point_of_sale</mat-icon>
            </button>
          </mat-card-title>
          
        </mat-card-header>
     
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="fundsAvailableCount$ | async; let fundsAvailable; else loading">
           
            <h1 
            class="text-gray-900  card-title-decoration">{{fundsAvailable.fundsAvailableCount > 0 ?  'UGX' + fundsAvailable.fundsAvailableCount  : 'UGX0'}} 
            </h1>
        
          </div>
        
        <ng-template  #loading>
          <app-skeleton></app-skeleton>
        </ng-template>
        </mat-card-content>

      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile  [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class="text-gray-900 ">
           <strong>Transactions</strong>
            <button routerLink="/history" style="outline: none;"  mat-raised-button color="primary" class="more-button emphasize-btn mat-elevation-z3">
              <mat-icon class="text-gray-900  icon-card">store</mat-icon>
            </button>
  
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="transactionCount$ | async; let transactionCount; else loading">
           
            <h1 
            class="text-gray-900  card-title-decoration">{{transactionCount.transactionCount > 0 ?  transactionCount.transactionCount  : '0'}} {{transactionCount.transactionCount > 1 ? '  transactions' : ' transaction'}}</h1>
        
          </div>
        
        <ng-template  #loading>
          <app-skeleton></app-skeleton>
        </ng-template>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile  [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class="text-gray-900 ">
           <strong>Funds Disbursed</strong>
            <button mat-raised-button 
            routerLink="/history" style="outline: none;"
            color="primary" class="more-button emphasize-btn mat-elevation-z3">
              <mat-icon class="text-gray-900  icon-card">payments</mat-icon>
            </button>
          
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">

          <div *ngIf="bulkSingleCount$ | async; let bulkSingleCount; else loading">
            <h1 
          class="text-gray-900  card-title-decoration">{{bulkSingleCount.singleBulkTransactionCount > 0 ? 'UGX' + bulkSingleCount.singleBulkTransactionCount :  'UGX0'}}</h1>
            
          </div>
        
        <ng-template  #loading>
          <app-skeleton></app-skeleton>
        </ng-template>

        </mat-card-content>

       
      </mat-card>
    </mat-grid-tile>



    <mat-grid-tile  [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class="text-gray-900 ">
           <strong>Funds Collected</strong>
            <button mat-raised-button 
                      color="primary" class="more-button emphasize-btn mat-elevation-z3">
              <mat-icon class="icon-card">account_balance</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="fundsCollectedCount$ | async; let fundsCollectedCount; else loading">
            <h1 
            class="text-gray-900  card-title-decoration">{{fundsCollectedCount.fundsCollectedCount > 0 ? 'UGX' + fundsCollectedCount.fundsCollectedCount : 'UGX0'}}</h1>
              
          </div>
        
        <ng-template  #loading>
          <app-skeleton></app-skeleton>
        </ng-template>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>




  </mat-grid-list>










</div>
