<h1 class="dashboard-title">Dashboard</h1>
<div class="flex mt-5 wrap flex-row">

    <div class="col-3 mr-5">
      <mat-card class="container relative">
        <h1  class="header-card">Conversions
          <h1 class="mat-title">0</h1>
        </h1>
        <p class="absolute icon-position-dashboard">
          <mat-icon class="icon-size-dashboard" color="primary">insights</mat-icon>
        </p>
        
       </mat-card>
    </div>
  
    <div class="col-3 mr-5">
     <mat-card class="container relative">
      <h1  class="header-card">Transactions
        <h1 class="mat-title">0</h1>
      </h1>
      <p class="absolute icon-position-dashboard">
        <mat-icon class="icon-size-dashboard" color="primary">point_of_sale</mat-icon>
      </p>
      
     </mat-card>
    </div>
  
    <div class="col-3 mr-5">
      <mat-card class="container relative">
        <h1  class="header-card">Revenue
          <h1 class="mat-title"><small>$</small>0</h1>
        </h1>
        <p class="absolute icon-position-dashboard">
          <mat-icon class="icon-size-dashboard" color="primary">payments</mat-icon>
        </p>
        
       </mat-card>
    </div>
  
    <!-- <div class="col-3 mr-5">
      <mat-card class="container relative">
        <h1  class="header-card">Credit
          <h1 class="mat-title">$0</h1>
        </h1>
        <p class="absolute icon-position-dashboard">
          <mat-icon class="icon-size-dashboard">receipt</mat-icon>
        </p>
        
       </mat-card>
    </div> -->
  </div>
<br/><br/>
  <h1  class="dashboard-title">Weekly transactions</h1>
  <div class="flex flex-wrap">
    <div class="col-10 mr-5 mt-5">
        <mat-card class="container">
          <fusioncharts
          width="700"
          height="400"
          type="Column2d"
          [dataSource]="dataSource"
        >
        </fusioncharts>
        </mat-card> 
      
    </div>
</div>