<div class="flex mt-5 wrap flex-row">

    <div class="col-3 mr-5">
      <mat-card class="container">
        <h1  class="header-card">Customers</h1>
       <h1>0</h1>
      </mat-card>
    </div>
  
    <div class="col-3 mr-5">
     <mat-card class="container">
      <h1  class="header-card">Transactions</h1>
      <h1>0</h1>
     </mat-card>
    </div>
  
    <div class="col-3 mr-5">
     <mat-card class="container">
      <h1  class="header-card">Conversions</h1>
      <h1>0</h1>
     </mat-card>
    </div>
  
    <div class="col-3 mr-5">
     <mat-card class="container ">
       <h1  class="header-card">Credit</h1>
       <h1>0</h1>
     </mat-card>
    </div>
  </div>