 
.header-card{
    font-size: 1.1rem;
    font-weight: 600 !important;
    margin-bottom: 8px;
    text-align: right;
    text-transform: capitalize;
  }
.icon-size-dashboard{
  font-size: 3.6rem;
  // color:  #ffee58 !important;

}
.icon-size-dashboard-amount{
  font-size: 3rem;
}
.icon-position-dashboard{
  top: 32%;
  left: 2.5%;
}

.responsive-brand{
  font-size: 23px !important;
  font-weight: 700 !important;
}