<div class="flex flex-wrap">
    <div class="col-10 mr-5 mt-6 mat-elevation-z2">
        <mat-card class="container">
            <h1 class="dashboard-title text-center">Send & receive mobile money</h1>
     
            <div class="containter mt-5">
                <div class="flex flex-wrap flex-row">
                    <div class="col-3">
                       <div class="card-action-wrap relative border-1">
                        <p class="text-center" >
                            <svg  data-v-41d94e7d=""
                            height="100px" viewBox="0 0 58 31" width="100px" 
                            xmlns="http://www.w3.org/2000/svg"><path data-v-41d94e7d="" 
                                d="m29 .707-29 14.763 29 14.763 29-14.763z" fill="#c8b900" 
                                fill-rule="evenodd"></path></svg>
                        </p>
                           
                            <h1 class="offer text-center">Single transaction</h1>
                            <p class="text-center px-5 text-gray-900"
                             >Single purchase allows you to send to one user</p>
                           <p class="text-center text-gray-900">
                            <button mat-raised-button color="primary" 
                            (click)="openDialog(operations.SinglePayments)"
                            class="cta-offer text-gray-900"><strong>Send to single person</strong></button>
                           </p>
                       </div>
                    </div>

                    <div class="col-3">
                        <div class="card-action-wrap relative border-1">
                         <p class="text-center" >
                            <svg data-v-41d94e7d="" height="100px" viewBox="0 0 58 53" width="100px" 
                            xmlns="http://www.w3.org/2000/svg"><path data-v-41d94e7d="" 
                            d="m29 .707 29 14.763-29 14.763-29-14.763zm-20.777 21.977 19.429 9.898 
                            1.348.692 1.348-.692 19.43-9.898 8.222 4.194-29 14.763-29-14.763zm0 11.408-8.223 
                            4.194 29 14.763 29-14.763-8.223-4.194-19.429 9.898-1.348.692-1.348-.692-19.43-9.898z" fill="#c8b900"></path></svg>
                            
                         </p>
                            
                             <h1 class="text-center offer">Bulk transactions</h1>
                             <p class="text-center px-5 text-gray-900"
                              >Bulk sending allows you to send mobile money to many people</p>
                            <p class="text-center">
                             <button 
                             (click)="openDialog(operations.BulkPayments)"
                             mat-raised-button color="primary" class="cta-offer text-gray-900"><strong>Send to many people</strong></button>
                            </p>
                        </div>
                     </div>

                     <div class="col-3">
                        <div class="card-action-wrap relative">
                         <p class="text-center" >
                             <mat-icon class="w-icon-100">pending_actions</mat-icon>
                         </p>
                            
                             <h1 class="offer text-center">No approvals</h1>
                             <p class="text-center px-5 text-gray-900"
                             >Single purchase allows you to send to one user</p>
                            <p class="text-center">
                             <button mat-raised-button  
                            (click)="openDialog(operations.Approvals)"
                             color="primary" class="cta-offer text-gray-900"><strong>Check approvals</strong></button>
                            </p>
                        </div>
                     </div>

                  
                   
                </div>
               <br/><br/>
                <div class="container mt-5">
                    <div class="flex flex-wrap flex-row">
                        
                        <div class="col-3">
                            <div class="card-action-wrap relative">
                             <p class="text-center" >
                                 <mat-icon class="w-icon-100">ad_units</mat-icon>
                             </p>
                                
                                 <h1 class="offer text-center">Manual Recovery</h1>
                                 <p class="text-center px-5 text-gray-900"
                                 >Allows OyaMicrocredit to initiate loan repayment</p>
                                <p class="text-center">
                                 <button mat-raised-button  
                                 (click)="openDialog(operations.ManualTransaction)"
                                 color="primary" class="cta-offer text-gray-900"><strong>Check approvals</strong></button>
                                </p>
                            </div>
                         </div>
                    </div>
                </div>
                <br/><br/>
            </div>
        </mat-card>
    </div>
</div>