.offer{
    font-size: 1.5rem !important;
    line-height: 2rem !important;
    font-weight: 800 !important;
}
.weight-400{
    font-weight: 400 !important;
    font-size: 1rem !important;
    font-family: 'Poppins', sans-serif !important;
    margin-bottom: 13px !important;
}