<h1 mat-dialog-title class="text-center" style="font-size:1.5rem !important;">Edit profile</h1>
<mat-divider></mat-divider>
<br/>
<mat-dialog-content>
    <p class="text-center"><img src="assets/icon.png" class="avatar-img"/></p>
    <h2 class="user-name text-center"><strong>HR MANAGER</strong></h2>
  <br/>
    <div matTooltip="Tap to change username"
    class="flex flex-row flex-wrap list-item-bar">
    <span class="text-gray-900"><strong>Change username</strong></span>
<span class="example-spacer"></span>
<mat-icon class="text-gray-900">edit</mat-icon>
</div>
<mat-divider></mat-divider>
<div matTooltip="Tap to change password"
    class="flex flex-row flex-wrap list-item-bar ">
    <span class="text-gray-900"><strong>Update password</strong></span>
<span class="example-spacer"></span>
<mat-icon class="text-gray-900">lock</mat-icon>
</div>

</mat-dialog-content>