.title{
    margin-bottom: 4px !important;
    font-size: 1.5rem !important;
    line-height: 2rem !important;
    font-weight: 400 !important;
}
.emphasize{
    font-weight: 900 !important;
    font-size: 1.5rem !important;
    line-height: 2rem !important;
    margin-bottom: 4px !important;

}

.small{
font-size: 15px !important;
}