<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <div class="header-wrap">
        <h1 class="brand">Oya MiroCredit</h1>
      </div>
      <mat-list>
        <div mat-subheader>Dashboard</div>
        <mat-list-item *ngFor="let folder of folders">
          <mat-icon mat-list-icon>{{folder.icon}}</mat-icon>
          <div mat-line>{{folder.name}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Others</div>
        <mat-list-item *ngFor="let note of notes">
          <mat-icon mat-list-icon>{{note.icon}}</mat-icon>
          <div mat-line>{{note.name}}</div>
        </mat-list-item>
      </mat-list>
    </mat-drawer>
    <mat-drawer-content>
      <mat-toolbar>
       <span>My App</span>
       <span class="example-spacer"></span>
     </mat-toolbar>
     
<main>
  <router-outlet></router-outlet>
</main>
    

    </mat-drawer-content>

   

  </mat-drawer-container>
