.custom-cta-lg{
    font-size: 1.15rem !important;padding-left: 2.5rem;
            padding-right: 2.5rem;padding-top: .45rem;
    padding-bottom: .45rem;font-size: 1.125rem;    transition-duration: 150ms;
}