.custom-cta-lg{
    font-size: 1.31rem !important;padding-left: 2.5rem;
            padding-right: 2.5rem;padding-top: .50rem;
    padding-bottom: .50rem;font-size: 1.125rem;    transition-duration: 150ms;
}