table{
    width: 100%;
}
td {
    // padding-left: 5px !important;
   margin-right: 95px !important;
   padding: .9rem !important;
   
}

.scrollable{
    overflow: scroll !important;
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    width:200px !important;
    height: 45px !important;
    padding: .5rem !important;
}

.normal-block{
    display: inline;
}

.warning{
    color: #f57f17 !important;
}
.success-text{
    color : #d81b60 !important;
}

.application-title{
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-transform: capitalize;
}
