<div class="flex flex-wrap">
    <div class="col-10 mr-5 mt-5">

     <mat-card class="container mat-elevation-z8">
            <h1 class="application-title">All transactional history</h1>

            
            <p style="text-align: right;" class="relative" [hidden]="itemsCount == 0 && dataSource">
            <!-- <mat-form-field appearance="fill">
              <mat-label>Sort reports by date</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field> -->
            <button  mat-raised-button 
            
            color="accent"  
            [matMenuTriggerFor]="menu"
            class="cta-offer"><mat-icon>timeline</mat-icon> <span>Generate report</span></button>
            <mat-menu #menu="matMenu" xPosition="after">
              <button mat-menu-item (click)="openDialog(historyTransaction.Today)">Today's report</button>
              <button mat-menu-item (click)="openDialog(historyTransaction.Month)">This month's report</button>
            </mat-menu>
            </p>
          
<div [hidden]="!dataSource">
  <div [hidden]="itemsCount == 0 && dataSource">
    <table mat-table [dataSource]="dataSource">

               
                       
      <ng-container matColumnDef="transactionRef">
        <th mat-header-cell *matHeaderCellDef> Reference ID. </th>
        <td mat-cell *matCellDef="let element" >{{element.transactionRef}} </td>
      </ng-container>
  
      <ng-container matColumnDef="actualAmount">
        <th mat-header-cell *matHeaderCellDef style="text-align: center !important;"> Amount </th>
        <td mat-cell *matCellDef="let element" > UGX{{element.actualAmount}}  </td>
      </ng-container>
      <ng-container matColumnDef="charge">
        <th mat-header-cell *matHeaderCellDef style="text-align: center !important;"> Charge </th>
        <td mat-cell *matCellDef="let element"> UGX500 </td>
      </ng-container>
   
      <ng-container matColumnDef="transactionInitiationDate">
        <th mat-header-cell *matHeaderCellDef style="text-align: center !important;">Date </th>
        <td mat-cell *matCellDef="let element"> {{element.transactionInitiationDate | date}} </td>
      </ng-container>
  
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef style="text-align: center !important;"> Sent to</th>
        <td mat-cell *matCellDef="let element"> <div 
          [ngClass]="element.phoneNumber.length > 20 ? 'scrollable': ''"
          >+{{element.phoneNumber}}</div> </td>
      </ng-container>
  
      <ng-container matColumnDef="transactionType">
        <th mat-header-cell *matHeaderCellDef style="text-align: center !important;"> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.transactionType}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef style="text-align: center !important;"> Status </th>
        <td mat-cell *matCellDef="let element"> <span [ngClass]="element.status == 'PENDING' ? 'warning': 'success-text'">{{element.status}}</span> </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  
  </div>
  
  <p *ngIf="itemsCount == 0" class="text-center py-10 text-gray-900">You have transactions yet</p>

</div>

           
     <app-skeleton *ngIf="!dataSource"></app-skeleton>

        </mat-card>
    </div>
</div>