

  <mat-toolbar color="primary" class="mat-elevation-z3">
    <span class="brand">Oya MicroCredit</span>
    <span class="example-spacer"></span>
    <button mat-icon-button 
    routerLink="/notifications"
    class="example-icon" aria-label="Example icon-button with share icon">
     <mat-icon matBadge="15" matBadgeColor="accent">notifications</mat-icon>
   </button>
  </mat-toolbar>
 
<mat-drawer-container class="example-container">
  <mat-drawer-content>
  

<main>
  <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</main>
  

  </mat-drawer-content>
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <!-- <div mat-subheader>Dashboard</div> -->
   
      <mat-list-item style="margin-bottom: 13px !important;">
        <img matListAvatar src="assets/icon.png">
        <div mat-line style="font-weight: 700 !important;">HR Manager</div>
        <mat-icon style="color: #4a5568 !important;">widgets</mat-icon>
      </mat-list-item>
 

      <mat-list-item *ngFor="let feature of features" 
      [routerLink]="feature.url" [ngClass]="router.url == feature.url ? 'active' : 'not-active'">
        <mat-icon mat-list-icon>{{feature.icon}}</mat-icon>
        <div mat-line>{{feature.name}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>Others</div>

      <mat-list-item routerLink="/history" [ngClass]="router.url == '/history' ? 'active' : 'not-active'">
        <mat-icon mat-list-icon>history</mat-icon>
        <div mat-line>History</div>
      </mat-list-item>

      <mat-list-item (click)="service.signOut()">
        <mat-icon mat-list-icon>login</mat-icon>
        <div mat-line>Sign out</div>
      </mat-list-item>

    </mat-nav-list>
  </mat-drawer>

 

</mat-drawer-container>


