

  <mat-toolbar color="primary" class="mat-elevation-z3">
    <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    <span class="brand text-gray-900">Oya MicroCredit</span>
    <span class="example-spacer"></span>
    <button mat-icon-button 
    routerLink="/notifications"
    class="example-icon" aria-label="Example icon-button with share icon">

     <ng-container *ngIf="errorNotificationCounter > 0 else default">
      <mat-icon [matBadge]="errorNotificationCounter" matBadgeOverlap="true" 
      matBadgeColor="accent">notifications</mat-icon>
     </ng-container>

     <ng-template #default>
      <mat-icon>notifications_none</mat-icon>
     </ng-template>
     
   </button>
  </mat-toolbar>
 
<mat-drawer-container class="example-container">
  <mat-drawer-content>
  

<main>
  <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</main>
  

  </mat-drawer-content>
  <mat-drawer mode="side" 
  #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list>
      <!-- <div mat-subheader>Dashboard</div> -->
   
      <mat-list-item style="margin-bottom: 13px !important;" (click)="openDialog()" 
      *ngIf="!service.user">
        <img matListAvatar src="assets/icon.png">
        <div mat-line style="font-weight: 700 !important;" class="text-gray-900">HR Manager</div>
        <mat-icon style="color: #4a5568 !important;">widgets</mat-icon>
      </mat-list-item>

      <mat-list-item style="margin-bottom: 13px !important;" (click)="openDialog()" 
      *ngIf="service.user"
      >
        <img matListAvatar [src]="service.user?.photoURL">
        <div mat-line style="font-weight: 700 !important;" class="text-gray-900 uppercase">{{service.user?.displayName}}</div>
        <mat-icon style="color: #4a5568 !important;">widgets</mat-icon>
      </mat-list-item>
 

      <mat-list-item *ngFor="let feature of features" 
      [routerLink]="feature.url" [ngClass]="checkCurrentRoute(feature.url) ? 'active text-gray-900' : ''">
        <mat-icon mat-list-icon>{{feature.icon}}</mat-icon>
        <div mat-line>{{feature.name}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>Others</div>

      <mat-list-item routerLink="/collection-history" 
      [ngClass]="checkCurrentRoute('/collection-history') ? 'active text-gray-900' : ''">
        <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
        <div mat-line>Loan collections</div>
      </mat-list-item>

      <mat-list-item routerLink="/disbursement-history" [ngClass]="checkCurrentRoute('/disbursement-history') ? 'active text-gray-900' : ''">
        <mat-icon mat-list-icon>history</mat-icon>
        <div mat-line>Disbursements</div>
      </mat-list-item>

      <mat-list-item (click)="service.signOut()">
        <mat-icon mat-list-icon class="text-gray-900">login</mat-icon>
        <div mat-line class="text-gray-900">Sign out</div>
      </mat-list-item>

    </mat-nav-list>
  </mat-drawer>

 

</mat-drawer-container>


