

  <mat-toolbar color="primary" class="mat-elevation-z3">
    <span class="brand">Oya MicroCredit</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
     <mat-icon>notifications_none</mat-icon>
   </button>
  </mat-toolbar>
 
<mat-drawer-container class="example-container">
  <mat-drawer-content>
  

<main>
<router-outlet></router-outlet>
</main>
  

  </mat-drawer-content>
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <!-- <div mat-subheader>Dashboard</div> -->
      <mat-list-item *ngFor="let feature of features" 
      [routerLink]="feature.url">
        <mat-icon mat-list-icon>{{feature.icon}}</mat-icon>
        <div mat-line>{{feature.name}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>Others</div>
      <mat-list-item *ngFor="let feature of others" [routerLink]="feature.url">
        <mat-icon mat-list-icon>{{feature.icon}}</mat-icon>
        <div mat-line>{{feature.name}}</div>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

 

</mat-drawer-container>


