<ng-container *ngIf="data == operations.Approvals">
    <h2 mat-dialog-title class="dialog-title" style="font-weight: 700 !important;">Your approvals</h2>
    <mat-divider></mat-divider>
    <mat-dialog-content>
        <h1 class="text-center pt-6-dialog">No approvals found</h1>

    </mat-dialog-content>
    <br/><br/><br/><br/>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-flat-button [mat-dialog-close]="true" cdkFocusInitial color="primary">Okay</button>
      </mat-dialog-actions>
</ng-container>


<ng-container *ngIf="data == operations.BulkPayments">
    <h2 mat-dialog-title class="dialog-title" style="font-weight: 700 !important;">Send mobile money to a many users</h2>
    <mat-divider></mat-divider>

    <mat-dialog-content >
    
      <input type="file" class="display-none"  #ref
      accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, 
      application/vnd.ms-excel" (change)="uploadBulkPayments()"/>

       <p class="text-center pt">
        <button mat-raised-button color="primary" (click)="ref.click()" 
        class="upload-csv-btn text-center"><strong>&nbsp;&nbsp;&nbsp;Upload file with contacts now&nbsp;&nbsp;&nbsp;&nbsp;</strong></button>
       </p>

       

       <div class="split-layout__label text-center p-3"><strong>Or</strong></div>

      <p class="text-center">
        <a href="assets/BulkPaymentTemplate.csv" download>
          <button mat-raised-button color="accent" 
          class="upload-csv-btn text-center"><strong class="text-white">Download template for guidance</strong></button>
  </a>
        
      </p>

        

    </mat-dialog-content>
    <br/><br/><br/><br/><br/>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-flat-button [mat-dialog-close]="true" 
        [class.spinner]="service.isLoading" [disabled]="service.isLoading" 
        cdkFocusInitial color="primary">Send</button>
      </mat-dialog-actions>
</ng-container>


<ng-container *ngIf="data == operations.SinglePayments">
    <h2  mat-dialog-title class="dialog-title" style="font-weight: 700 !important;">Send mobile money to a single user</h2>
    <p>
     Each transaction costs 500 shillings accross all networks (MTN, Airtel, Africell)
    </p>
   
    <mat-dialog-content>
        <br/>
        <form [formGroup]="singlePaymentsGroup">
            <p>
                <mat-form-field class="example-full-width">
                    <mat-label>Telephone</mat-label>
                    <span matPrefix>+256 &nbsp;</span>
                    <input type="tel" matInput placeholder="555-555-1234" formControlName="phoneNumber">
                    <!-- <mat-icon matPrefix>local_phone</mat-icon> -->
                  </mat-form-field>
            </p>
            
            <p>
                <mat-form-field class="example-full-width">
                    <mat-label>Amount</mat-label>
                    <textarea matInput placeholder="e.g 2000" formControlName="amount" type="number">1600 Amphitheatre Pkwy</textarea>
                  </mat-form-field>
            </p>
            
            <p>
                <mat-form-field class="example-full-width">
                    <mat-label>Reason</mat-label>
                    <textarea matInput placeholder="Ex. 100 Main St" formControlName="reason">Reason for sending</textarea>
                  </mat-form-field>
            </p>
                    </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-flat-button [mat-dialog-close]="true" cdkFocusInitial color="primary">Send</button>
      </mat-dialog-actions>
</ng-container>