<ng-container *ngIf="data == operations.Approvals">
    <h2 mat-dialog-title class="dialog-title" style="font-weight: 700 !important;">Your approvals</h2>
    <mat-divider></mat-divider>
    <mat-dialog-content>
        <h1 class="text-center pt-6-dialog">No approvals found</h1>

    </mat-dialog-content>
    <br/><br/><br/><br/>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-flat-button [mat-dialog-close]="true" cdkFocusInitial color="primary">Okay</button>
      </mat-dialog-actions>
</ng-container>


<ng-container *ngIf="data == operations.BulkPayments">


    <ng-container *ngIf="service.csvResults.length < 1">
      <h2 mat-dialog-title class="dialog-title" 
      style="font-weight: 700 !important;margin-bottom: 3px !important;">Send mobile money to a many users</h2>
   <small class="text-gray-900" style="text-align: justify;">Minimum amount to send  bulk payments: <strong>UGX500</strong></small>
  
   <mat-divider style="margin-top: 10px !important;"></mat-divider>

    <mat-dialog-content >
    
      <input type="file" class="display-none"  #ref
      accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, 
      application/vnd.ms-excel" (change)="uploadBulkPayments($event.target.files)"/>

       <p class="text-center pt">
        <button mat-raised-button color="primary" (click)="ref.click()" 
        class="upload-csv-btn text-center"><strong>&nbsp;&nbsp;&nbsp;Upload file with contacts now&nbsp;&nbsp;&nbsp;&nbsp;</strong></button>
       </p>

       

       <div class="split-layout__label text-center p-3"><strong>Or</strong></div>

      <p class="text-center">
        <a href="https://firebasestorage.googleapis.com/v0/b/tax-as-a-service.appspot.com/o/templates%2FBulk%20payment%20template.csv?alt=media&token=22f015e1-44aa-455d-8b6c-08ba890de2b2" download>
          <button mat-raised-button color="accent" 
          class="upload-csv-btn text-center"><strong class="text-white">Download template for guidance</strong></button>
  </a>
        
      </p>

    </mat-dialog-content>
    <br/><br/><br/><br/><br/>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-flat-button [mat-dialog-close]="true" 
        [class.spinner]="service.isLoading" [disabled]="service.isLoading" 
        cdkFocusInitial color="primary">Send</button>
      </mat-dialog-actions>
    </ng-container>

    <app-bulkcontacts *ngIf="service.csvResults.length >= 1 && service.bulkTransactionReady == false" [bulkContacts]="service.csvResults"></app-bulkcontacts>


   
</ng-container>


<ng-container *ngIf="data == operations.SinglePayments && service.bulkTransactionReady == false || 
data == operations.ManualTransaction && service.bulkTransactionReady == false">
    <h2  mat-dialog-title class="dialog-title" 
    style="font-weight: 700 !important;">{{data == operations.SinglePayments ? 'Send mobile money to a single user': 'Deposit from MobileMoney to OyaMicroCredit'}}</h2>
    <p>
      {{data == operations.ManualTransaction ? 'The transaction fee is 1.5% of the amount.': ' Sending to an telco costs UGX500'}}
    </p>

    <!-- <mat-radio-group aria-label="Select a network" class="telco-radio-group" [(ngModel)]="telco">
      <mat-radio-button class="custom-radio-btn text-gray-900" *ngFor="let telco_option of telcos" [value]="telco_option">
        {{telco_option}}
      </mat-radio-button>
    </mat-radio-group> -->

   
    <mat-dialog-content>
        <br/>
        <form [formGroup]="singlePaymentsGroup">
            <p>
                <mat-form-field class="example-full-width">
                    <mat-label>Telephone</mat-label>
                    <span matPrefix>+256 &nbsp;</span>
                    <input type="tel" matInput placeholder="555-555-1234" minlength="9" formControlName="phoneNumber">
                    <!-- <mat-icon matPrefix>local_phone</mat-icon> -->
                  </mat-form-field>
            </p>
            
            <p>
                <mat-form-field class="example-full-width">
                    <mat-label>Amount</mat-label>
                    <textarea matInput placeholder="e.g 2000" formControlName="amount" 
                    type="number" min="500">UGX</textarea>
                    <mat-hint>Least amount UGX500</mat-hint>
                  </mat-form-field>
            
            </p>
            
            <p>
                <mat-form-field class="example-full-width">
                    <mat-label>Reason</mat-label>
                    <textarea matInput placeholder="Ex. 100 Main St" formControlName="reason">Reason for sending</textarea>
                  </mat-form-field>
            </p>
                    </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button  [class.spinner]="service.isLoading" [disabled]="service.isLoading" 
        mat-flat-button (click)="uploadSingleTransaction(data)" cdkFocusInitial color="primary">Send</button>
      </mat-dialog-actions>
</ng-container>

<ng-container *ngIf="service.bulkTransactionReady">
  <h1 mat-mat-dialog-title>Are you sure you're ready to send bulk transactions now?</h1>
  <mat-dialog-actions align="end">
    <button mat-button (click)="checkBulkPayment()">No,let me check first</button>
    <button  [class.spinner]="service.isLoading" [disabled]="service.isLoading" 
    mat-flat-button (click)="sendBulkTransation()" cdkFocusInitial color="primary">Proceed and send bulk transaction</button>
  </mat-dialog-actions>
</ng-container>