.example-full-width{
    width: 100%;
}
.pt{
    padding-top: 3rem;
}
.pt-6-dialog{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.upload-csv-btn{
    // width: 200px !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 1.125rem;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
}
.position-divider{
    top: 41%;
    left: 48%;
}
.p-3{
    padding-top: 5px;
    padding-bottom: 5px;
}
.custom-radio-btn{
    margin-right: 1rem;
}
 