.example-full-width{
    width: 100%;
}
.pt{
    padding-top: 8rem;
}
.upload-csv-btn{
    // width: 200px !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 1.125rem;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
}