/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; color:  #2d3748 !important;}

.mat-drawer-inner-container{
    width: 256px !important;
}

.header-wrap{
    padding-left:15px;
    .brand{
      font-size: 1.25rem;
      font-weight: 700;
      padding-top: 1.4rem;
    }
  }
//columns and grids
.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.wrap{
    flex-wrap: wrap;
}
.container{
    width: 100%;
}
.mt-5{
    margin-top: 1.25rem;
}
.col-3{
    flex-basis: 33.33%;
}