/* You can add global styles to this file, and also import other style files */
// base colors


html, body { height: 100%; }
body { margin: 0; color:  #2d3748 !important;}

main{
    padding-right: 10px;
    padding-left: 15px;
    padding-top: 5.3rem;

}

.mat-toolbar{
 position: fixed;z-index: 2;
}

.mat-list-base{
  padding-top: 5rem !important;
}

// typo
h1,h2,h3,h4,h5,h6,p,small,b,i,a,span,div{
  color: #2d3748 !important;
}
// .headings{

// }
.text-center{
  text-align: center;
}
.cursor-pointer{
  cursor: pointer;
}

.text-white{
  color: #fff !important;
}

.dashboard-title{
  margin-bottom: 2px !important;font-size: 1.6rem !important;
}
.mat-title{
  font-size: 2.25rem !important;
}

.card-header{
  font-size: 1.5rem;
  font-weight: 600 !important;
}
.mat-drawer-inner-container{
    width: 256px !important;

}

.header-wrap{
    padding-left:15px;
    
  }
  .brand{
    // font-size: 1.25rem;
    font-weight: 700 !important;
   
  }

//columns and grids
.flex{
  display: flex;
}

.flex-row{
  flex-direction: row;
}

.wrap{
  flex-wrap: wrap;
}
.container{
  width: 90%;
}
.mt-5{
  margin-top: 1.25rem;
}
.mt-6{
  margin: 1.5rem;
}
.mr-5{
  margin: 10px 5px;
}
.col-3{
  flex-basis: 30%;
}
.col-10{
  flex-basis: 100%;
}

// button spinners
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

//positions
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.mx-auto{
  margin-top: 3rem auto;
}

.snackbar{
  color: #fff !important;
}


.success{
  background-color: #ffeb3b !important;
}
.error{
  background-color: #f44336 !important;
  span{
    color: #fff !important;
  }
}

.active{
  background-color: #eee !important;
  .mat-line, .mat-list-icon{
    font-weight: 600 !important;
    // color: #c9bc1f !important;
  }
  
}

// cards and actions 
.card-action-wrap{
  padding: 5px;
  // border: 1px solid red;
  width: 290px;
  height: 290px;
}
.card-action-header{
  font-size: 1.5rem !important;
  margin-top: -3px !important;
}
.svg-card-illustration{
  left: 40%;
}
.w-icon-100{
  font-size: 100px !important;
  margin-left: -82px;
  color: #c8b900 !important;
}
.send-cta-btn{
  font-weight: 600 !important;
  margin-top: 15px !important;
}
.px-5{
  padding-left: 5px;padding-right: 5px;
}

// borders
.border-1{
  border-right: 1px solid #eee;
}
