<ngx-skeleton-loader 
     [theme]="{ 
      'border-radius': '5px',
      width: '70%',
      'background-color': '#ffff8b',
      border: '1px solid white'
    }"
     appearance="linear"></ngx-skeleton-loader>

     <ngx-skeleton-loader 
     [theme]="{ 
      'border-radius': '5px',
      width: '80%',
      'background-color': '#ffff8b',
      border: '1px solid white'
    }"
     appearance="linear"></ngx-skeleton-loader>

     <ngx-skeleton-loader 
     [theme]="{ 
      'border-radius': '5px',
      width: '90%',
      'background-color': '#ffff8b',
      border: '1px solid white'
    }"
     appearance="linear"></ngx-skeleton-loader>

     <ngx-skeleton-loader 
     [theme]="{ 
      'border-radius': '5px',
      width: '90%',
      'background-color': '#ffff8b',
      border: '1px solid white'
    }"
     appearance="linear"></ngx-skeleton-loader>

     <ngx-skeleton-loader 
     [theme]="{ 
      'border-radius': '5px',
      width: '100%',
      'background-color': '#ffff8b',
      border: '1px solid white'
    }"
     appearance="linear"></ngx-skeleton-loader>