<ngx-skeleton-loader 
     [theme]="{ 
      'border-radius': '5px',
      width: '100px',
      'background-color': '#ffff8b',
      border: '1px solid white'
    }"
     appearance="linear"></ngx-skeleton-loader>

     <ngx-skeleton-loader 
     [theme]="{ 
      'border-radius': '5px',
      width: '150px',
      'background-color': '#ffff8b',
      border: '1px solid white'
    }"
     appearance="linear"></ngx-skeleton-loader>

     <ngx-skeleton-loader 
     [theme]="{ 
      'border-radius': '5px',
      width: '200px',
      'background-color': '#ffff8b',
      border: '1px solid white'
    }"
     appearance="linear"></ngx-skeleton-loader>